.info {
    height: 100vh;
    width: 100%;
    display: flex;
}

.vermelho {
    height: 100%;
    display: flex;
    background-color: #DA673A;
    float: left;
    position: absolute;
    width: calc(100% * 1/3);
}

.amarelo {
    height: 100%;
    margin-left: 33.333333%;
    background-color: #E29E00;
    float: left;
    position: absolute;
    width: calc(100% * 1/3);
}

.azul {
    height: 100%;
    right: 0;
    float: left;
    background-color: #108286;
    position: absolute;
    width: calc(100% * 1/3);
}

.cima {
    height: 20%;
    width: 100%;
    background-color:black;
    display: flex;
    position: absolute;
    bottom: 0;
    
}

#vermelho {
    background-color: #AA3B0F;
    border-radius: 70 70 0 0;
}

#amarelo {
    background-color: #A0791D;
}

#azul {
    background-color: #086063;
}

.icone{
    width: 100%;
    height: 35%;
    margin-top: 7%;
}

.icone img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;


    width: 30%;
    object-fit: cover;


    
}


.icone h1{
    text-align: center;
    font-size: 2.8em;
    margin-top: 2%;
    text-shadow: black 1px 1px;
}


.cima img{
    margin: 0 auto;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}



.cima:hover{
    animation-name: texto;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}

.cima:hover img{
    animation-name: seta;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}

.cima:hover p{
    animation-name: texto;
    animation-delay: 100ms;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

}

.cima:not(:hover) img {
    animation-name: seta-volta;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}

.cima:not(:hover){
    animation-name: texto-volta;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
   

}

@keyframes texto-volta{
    0%{
        height: 50%;
    }

    100%{
        height: 20%;
        
    }
}


@keyframes texto{
    0%{
        height: 20%;
    }
   
    100%{
        height: 50%;
        
    }
}




@keyframes seta{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(180deg) translateY(200%); 
        
    }
}

@keyframes translate{
    100%{
        transform: translateY(-250px);
    }
}


    @keyframes seta-volta{
        0%{
            transform: rotate(180deg) translateY(200%);
        }
    
        100%{
            transform: rotate(0deg) translateY(0%);
        }
}

.cima p{
    color:transparent;
    font-size: 0.01px;
}


@keyframes texto{
    100%{
        font-size: 1em;
        text-shadow: black 1px;
        color: black;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50%;
        position: absolute;

    }
}

.textoo{
    width: 80%;
    height: 50%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 5%;
}

.textoo p{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
