.home{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.text {
    
    width: fit-content;
    height: fit-content;
    margin-left: 90px;
    margin-top: 40px;
    position: absolute;
    
  
}

.text h1{
    font-size: 10rem;
    color: #017C80;
    text-shadow: black 1px 2px;
}
.text h2{
    font-size: 3.1rem;
    color: #575757;
    margin-top: -30px;
    
}
.text h1,h2{
    text-align: center;
}


.imagem{
    width: 40%;
    height: 100vh;
    float: right;
    position: relative;
    display: flex;
    bottom: 0;
   

}

.imagem img{
    height: 100vh;
    width: 100%;
    margin-top: 0 auto;
    object-fit: cover;
    
    bottom: 0;
}


.lista{
    height: fit-content;
    width: 800px;
    bottom: 0;
    position: absolute;
   
}

li{
    float: left;
    list-style: none;
    bottom: 0;
   
     
}

.arbustodiv{
    bottom: 0;
    position: absolute;
}


.arbusto{
    width: 180px;
    height: 220px;
    margin-top:16vh;
    float: left;
    position: relative;
    bottom: 0px auto;
 
  
}

.homem{
    width: 220px;
    height: 320px;
    float: left;
    margin-left: 20%;
    
    
    

}

.mulher{
    width: 150px;
    height: 320px;
    float: left;
    margin-left: 20px;
    display: flex;
   
    bottom: 0;
    
}


.seta{
    position: absolute;
    width: fit-content;
    display: flex;
    bottom: 40;
    left: 49%;
}

.seta img {
    display: flex;
    align-items: center;
    justify-content: center;
}


.seta:hover{
    transform:scale(1.05);
    cursor: hand;
    opacity: 0.9;
}

