#form {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form form {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(77, 170, 164, 0.83);
    position: absolute;
    z-index: 10;
}

#form form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #3E1C1C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#form form .input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#form form .input input {
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    height: 50px;
    margin: 0 0 20px 0;
}

#form form .radio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .genero {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    
}

/* label {
    padding: 5px 15px 5px 51px;
}

label:before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #000;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 12px;
    background-color: white;
}


input[type=radio] {
   display: none;
}

input[type="radio"]:checked + label:before {
    display: none;
}  */


        

.button {
    display: flex;
    
}

button {
    padding: 20px;
    font-size: 1.5em;
    background-color: #3E1C1C;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
}


.escolhido {
    color: white;
}
