@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai', sans-serif;
}

section {
    height: 100vh;
    width: 100%;
    float: left;
}

html {
    scroll-behavior: smooth;
}
