.home{
    height: 100vh;
    width: 100vw;
    
    position: absolute;
}

.text {
    
    width: fit-content;
    height: fit-content;
    margin-left: 90px;
    margin-top: 40px;
    position: absolute;
    
  
}

.text h1{
    font-size: 7em;
    color: #017C80;
    text-shadow: black 1px 2px;
}
.text h2{
    font-size: 2em;
    color: #575757;
    margin-top: -30px;
    
}
.text h1,h2{
    text-align: center;
}


.imagem{
    width: 40%;
    height: 100vh;
    float: right;
    position: relative;
    display: flex;
    
 
}

.imagem img{
    height: 100vh;
    width: 100%;
    margin-top: 40px;
   
}


.lista{
    height: fit-content;
    width: fit-content;
    
    bottom: 0;
    position: absolute;
   
}

li{
    float: left;
    list-style: none;
   
    
}


.arbusto{
    width: 180px;
    height: 200px;
    margin-top:16vh;
  
}

.homem{
    width: 190px;
    height: 300px;
    object-fit: cover;
    margin-left: 60px;

}

.mulher{
    width: 150px;
    height: 300px;
    object-fit: cover;
}

.seta{
    position: absolute;
    width: fit-content;
    display: flex;
    bottom: 40;
    left: 49%;
}

.seta img {
    display: flex;
    align-items: center;
    justify-content: center;
}


.seta:hover{
    transform:scale(1.05);
    cursor: hand;
    opacity: 0.9;
}

